<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Lista de Tarefas</title>

<style>

table{
border-collapse: collapse;
width:70%;
}

td,th{
border:1px solid black;
padding:10px;
}

.atrasada{
background:red;
color:white;
}

</style>

</head>
<body>

<h1>Atendimentos</h1>
<h3> Horários marcados para Maquiagem </h3>

<table>

<tr>

<th>Nome</th>

<th>Status</th>

<th>Prazo</th>

</tr>

{% for atendimento in atendimentos %}

<tr class="{% if atendimento.prazo < hoje %}atrasada{% endif %}">

    <td>{{ atendimento.nome }}</td>

    <td>{{ atendimento.get_status_display }}</td>

    <td>{{ atendimento.prazo }}</td>

</tr>

{% endfor %}

</table>

</body>
</html>
