{% extends "app/base.html" %}
{% load static %}


{% block content %}

<p class="categoria">Publicações</p>

<section class="posts">

    {% for post in posts %}

    <article class="card">

        {% if post.imagem %}
            <img src="{{ post.imagem.url }}" alt="{{ post.titulo }}" class="foto-post">
        {% endif %}

        <div class="conteudo">

            <div class="autor">

                <img src="{% static 'assets/imgs/perfil.jpeg' %}" class="perfil" alt="Perfil do autor">

                <div>
                    <strong>Nathalia Cordeiro</strong>
                    <p>{{ post.data_publicacao|date:"d \\d\\e M. \\d\\e Y" }}</p>
                </div>

            </div>

            <h2>
                <a href="{% url 'post' post.id %}">
                    {{ post.titulo }}
                </a>
            </h2>

            <p class="descricao">
                {{ post.texto }}
            </p>

            <div class="rodape">
                <span>37 visualizações</span>
                <span>0 comentários</span>
            </div>

        </div>

    </article>

    {% endfor %}

</section>

{% endblock %}