{% extends 'app/base.html' %}

{% block content %}
        
        <p class="categoria">All Posts</p>

        <section class="posts">

            <!-- POST 1 -->

            <article class="card">

                <img src="" class="foto-post">

                <div class="conteudo">

                    <div class="autor">

                        <img src="" class="perfil">

                        <div>

                            <strong>Admin</strong>

                            <p>4 de dez. de 2022 • 2 min.</p>

                        </div>

                    </div>

                    <h2>Cozinhando com as crianças</h2>

                    <p class="descricao">
                        Crie um subtítulo para o post no blog que resume numa frase curta e atraente o seu conteúdo.
                    </p>

                    <div class="rodape">
                        <span>37 visualizações</span>
                        <span>0 comentário</span>
                    </div>

                </div>

            </article>


            <!-- POST 2 -->

            <article class="card">

                <img src="" class="foto-post">

                <div class="conteudo">

                    <div class="autor">

                        <img src="" class="perfil">

                        <div>

                            <strong>Admin</strong>

                            <p>4 de dez. de 2022 • 1 min.</p>

                        </div>

                    </div>

                    <h2>Uma pintura de dia chuvoso</h2>

                    <p class="descricao">
                        Crie um subtítulo para o post no blog que resume numa frase curta e atraente o seu conteúdo.
                    </p>

                    <div class="rodape">
                        <span>20 visualizações</span>
                        <span>0 comentário</span>
                    </div>

                </div>

            </article>


            <!-- POST 3 -->

            <article class="card">

                <img src="" class="foto-post">

                <div class="conteudo">

                    <div class="autor">

                        <img src="" class="perfil">

                        <div>

                            <strong>Admin</strong>

                            <p>4 de dez. de 2022 • 2 min.</p>

                        </div>

                    </div>

                    <h2>Decorando quarto infantil</h2>

                    <p class="descricao">
                        Crie um subtítulo para o post no blog que resume numa frase curta e atraente o seu conteúdo.
                    </p>

                    <div class="rodape">
                        <span>14 visualizações</span>
                        <span>0 comentário</span>
                    </div>

                </div>

            </article>


            <!-- POST 4 -->

            <article class="card">

                <img src="" class="foto-post">

                <div class="conteudo">

                    <div class="autor">

                        <img src="" class="perfil">

                        <div>

                            <strong>Admin</strong>

                            <p>4 de dez. de 2022 • 2 min.</p>

                        </div>

                    </div>

                    <h2>Conheça nossa família</h2>

                    <p class="descricao">
                        Crie um subtítulo para o post no blog que resume numa frase curta e atraente o seu conteúdo.
                    </p>

                    <div class="rodape">
                        <span>15 visualizações</span>
                        <span>0 comentário</span>
                    </div>

                </div>

            </article>


            <!-- POST 5 -->

            <article class="card">

                <img src="" class="foto-post">

                <div class="conteudo">

                    <div class="autor">

                        <img src="" class="perfil">

                        <div>

                            <strong>Admin</strong>

                            <p>4 de dez. de 2022 • 1 min.</p>

                        </div>

                    </div>

                    <h2>Um dia no zoológico</h2>

                    <p class="descricao">
                        Crie um subtítulo para o post no blog que resume numa frase curta e atraente o seu conteúdo.
                    </p>

                    <div class="rodape">
                        <span>13 visualizações</span>
                        <span>0 comentário</span>
                    </div>

                </div>

            </article>


            <!-- POST 6 -->

            <article class="card">

                <img src="" class="foto-post">

                <div class="conteudo">

                    <div class="autor">

                        <img src="" class="perfil">

                        <div>

                            <strong>Admin</strong>

                            <p>4 de dez. de 2022 • 2 min.</p>

                        </div>

                    </div>

                    <h2>Atividades de sábado durante o verão</h2>

                    <p class="descricao">
                        Crie um subtítulo para o post no blog que resume numa frase curta e atraente o seu conteúdo.
                    </p>

                    <div class="rodape">
                        <span>10 visualizações</span>
                        <span>0 comentário</span>
                    </div>

                </div>

            </article>

        </section>


</body>
</html>
{% endblock %}