*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Roboto',sans-serif;
    background:#f7f7f7;
    color:#444;
}

nav{
    width:100%;
    height:50px;
    background:#ef5668;
    display:flex;
    justify-content:center;
    align-items:center;
}

.menu{
    display:flex;
    gap:30px;
}

.menu a{
    text-decoration:none;
    color:white;
    font-size:13px;
    transition:.3s;
}

.menu a:hover{
    opacity:.8;
}

main{
    width:1100px;
    max-width:95%;
    margin:20px auto;
}

.categoria{
    color:#e98d97;
    font-size:13px;
    margin-bottom:20px;
}

.posts{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:18px;

}

.card{

    background:white;
    border:1px solid #d5d5d5;

}

.foto-post{

    width:100%;
    height:190px;
    object-fit:cover;
    display:block;
    background:#ddd;

}

.conteudo{

    padding:15px;

}

.autor{

    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:15px;

}

.perfil{

    width:30px;
    height:30px;
    border-radius:50%;
    background:#ccc;
    object-fit:cover;

}

.autor strong{

    font-size:12px;
    display:block;

}

.autor p{

    font-size:11px;
    color:#777;

}

h2{

    font-size:34px;
    font-family:Georgia, serif;
    font-weight:400;
    line-height:1.2;
    margin-bottom:15px;
    color:#444;

}

.descricao{

    font-size:14px;
    color:#555;
    line-height:1.7;
    margin-bottom:25px;

}

.rodape{

    display:flex;
    gap:20px;
    font-size:11px;
    color:#777;
    border-top:1px solid #eee;
    padding-top:12px;

}

@media(max-width:1000px){

.posts{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.posts{

grid-template-columns:1fr;

}

nav{

height:60px;

}

}

.footer{
    background: #ffffff;
    padding: 20px 40px;
    border-top: 1px solid #ddd;
}

.footer-instagram{
    display: flex;
    align-items: center;
    gap: 12px;
}

.instagram-icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.copy-icon{
    width: 10px;
    height: 10px;
    object-fit: contain;
}

.footer-texto{
    display: flex;
    flex-direction: column;
}

.footer-texto p{
    margin: 0;
    color: #333;
    font-size: 14px;
    line-height: 1.3;
}

.capaHeader{
    height: 425px;
}